# This file contains 'cog' snippets (https://nedbatchelder.com/code/cog/) 
# to keep version numbers in sync with 'constraints.txt'

default_language_version:
  python: python3.10
repos:

- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.2.0
  hooks:
    # Run the linter.
  - id: ruff
    files: ^src/
    args: [--fix]
    # Run the formatter.
  - id: ruff-format

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.6.0
  hooks:
  - id: pretty-format-ini
    args: [--autofix]
  - id: pretty-format-toml
    args: [--autofix]
  - id: pretty-format-yaml
    args: [--autofix, --preserve-quotes, --indent, "2"]

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.0.0-alpha.4
  hooks:
  - id: prettier
    types_or: [markdown, json]

- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.9
  hooks:
  - id: insert-license
    exclude: ^\..*$
    types: [python]
    args: [--comment-style, "|#|", --license-filepath, ./LICENSE_HEADER.txt, --fuzzy-match-generates-todo]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-toml
  - id: check-yaml
  - id: debug-statements

- repo: https://github.com/pre-commit/mirrors-mypy
  ##[[[cog
  ## import re
  ## version = re.search('mypy==([0-9\.]*)', open("constraints.txt").read())[1] 
  ## print(f"#========= FROM constraints.txt: v{version} =========")
  ##]]]
  #========= FROM constraints.txt: v1.8.0 =========
  ##[[[end]]]
  rev: v1.8.0  # MUST match version ^^^^ in constraints.txt (if the mirror is up-to-date)
  hooks:
  - id: mypy
    additional_dependencies:  # versions from constraints.txt
    ##[[[cog
    ## import re, sys
    ## if sys.version_info >= (3, 11):
    ##    import tomllib
    ## else:
    ##    import tomli as tomllib
    ## constraints = open("constraints.txt").read()
    ## project = tomllib.loads(open("pyproject.toml").read())
    ## packages = [re.match('^([\w-][\w\d-]*)', r)[1] for r in project["project"]["dependencies"] if r.strip()]
    ## for pkg in packages:
    ##     print(f"- {pkg}==" + str(re.search(f'\n{pkg}==([0-9\.]*)', constraints)[1]))
    ##]]]
    - astunparse==1.6.3
    - attrs==23.2.0
    - ruff==0.2.0
    - boltons==23.1.1
    - cached-property==1.5.2
    - click==8.1.7
    - cmake==3.28.1
    - cytoolz==0.12.3
    - deepdiff==6.7.1
    - devtools==0.12.2
    - factory-boy==3.3.0
    - frozendict==2.4.0
    - gridtools-cpp==2.3.2
    - importlib-resources==6.1.1
    - jinja2==3.1.3
    - lark==1.1.9
    - mako==1.3.2
    - nanobind==1.8.0
    - ninja==1.11.1.1
    - numpy==1.24.4
    - packaging==23.2
    - pybind11==2.11.1
    - setuptools==69.0.3
    - tabulate==0.9.0
    - typing-extensions==4.5.0
    - xxhash==3.0.0
    ##[[[end]]]
    # Add all type stubs from typeshed
    - types-all
    args: [--no-install-types]
    exclude: |
      (?x)^(
      setup.py |
      build/.* |
      ci/.* |
      docs/.* |
      tests/conftest.py |
      tests/cartesian_tests/.* |
      tests/next_tests/unit_tests/.* |
      tests/next_tests/integration_tests/multi_feature_tests/.* |
      tests/next_tests/integration_tests/feature_tests/ffront_tests/.* |
      tests/next_tests/integration_tests/feature_tests/iterator_tests/.* |
      tests/next_tests/integration_tests/feature_tests/otf_tests/.* |
      tests/next_tests/integration_tests/feature_tests/math_builtin_test_data.py |
      tests/next_tests/past_common_fixtures.py |
      tests/next_tests/toy_connectivity.py |
      tests/.*
      )$
