##[[[cog
## import re, tomli
## project = tomli.loads(open("pyproject.toml").read())
## requirements = set(
##     rr
##     for r in (
##         project["project"]["dependencies"]
##         + open("requirements-dev.in").readlines()
##     )
##     if (rr := r.strip()) and not rr.startswith('#')
## )
## for r in sorted(requirements):
##     m = re.match("^([\w-][\w\d\[\]-]*)[=>~][=]([^,]+)", r)
##     print(f"{m[1]}=={m[2].strip()}")
##]]]
astunparse==1.6.3;python_version<'3.9'
attrs==21.3
black==22.3
boltons==20.1
cached-property==1.5.1
clang-format==9.0
click==8.0.0
cmake==3.22
cogapp==3.3
coverage[toml]==5.0
cytoolz==0.12.0
darglint==1.6
deepdiff==5.6.0
devtools==0.6
factory-boy==3.1
flake8-bugbear==20.11.1
flake8-builtins==1.5.3
flake8-debugger==4.0.0
flake8-docstrings==1.5.0
flake8-eradicate==1.3.0
flake8-mutable==1.2.0
flake8-pyproject==1.2.2
flake8-rst-docstrings==0.0.14
flake8==5.0.4
frozendict==2.3
gridtools-cpp==2.3.1
hypothesis==6.0.0
importlib-resources==5.0;python_version<'3.9'
isort==5.10
jinja2==3.0.0
jupytext==1.14
lark==1.1.2
mako==1.1
mypy==1.0
nanobind==1.4.0
ninja==1.10
numpy==1.21.2
packaging==20.0
pip-tools==6.10
pipdeptree==2.3
pre-commit==2.17
psutil==5.0
pybind11==2.5
pygments==2.7
pytest-cache==1.0
pytest-cov==2.8
pytest-factoryboy==2.0.3
pytest-xdist[psutil]==2.4
pytest==7.0
ruff==0.0.265
setuptools==65.5.0
sphinx==4.4
sphinx_rtd_theme==1.0
tabulate==0.8.10
tomli==2.0.1
tox==3.2.0
types-all==1.0.0
typing-extensions==4.2
xxhash==1.4.4
##[[[end]]]
