[build-system]
build-backend = "setuptools.build_meta"
requires = ["setuptools>=60.6", "wheel", "cython"]

# ---- Project description ----
# -- Standard options (PEP 621) --
[project]
authors = [{name = 'ETH Zurich', email = 'gridtools@cscs.ch'}]
classifiers = [
  'Development Status :: 4 - Beta',
  'Environment :: Console',
  'Environment :: GPU :: NVIDIA CUDA',
  'Intended Audience :: Science/Research',
  'License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)',
  'Operating System :: POSIX',
  'Programming Language :: Python',
  'Programming Language :: Python :: 3.8',
  'Programming Language :: Python :: 3.9',
  'Programming Language :: Python :: 3.10',
  'Programming Language :: Python :: Implementation :: CPython',
  'Topic :: Scientific/Engineering :: Atmospheric Science',
  'Topic :: Scientific/Engineering :: Mathematics',
  'Topic :: Scientific/Engineering :: Physics'
]
dependencies = [
  "astunparse>=1.6.3;python_version<'3.9'",
  "attrs>=21.3",
  "black>=22.3",
  "boltons>=20.1",
  "cached-property>=1.5.1",
  "click>=8.0.0",
  "cmake>=3.22",
  "cytoolz>=0.12.0",
  "deepdiff>=5.6.0",
  "devtools>=0.6",
  "frozendict>=2.3",
  "gridtools-cpp>=2.2.3,==2.*",
  "importlib-resources>=5.0;python_version<'3.9'",
  "jinja2>=3.0.0",
  "lark>=1.1.2",
  "mako>=1.1",
  "ninja>=1.10",
  "numpy>=1.21.2",
  "packaging>=20.0",
  "pybind11>=2.5",
  "setuptools>=65.5.0",
  "tabulate>=0.8.10",
  "typing-extensions>=4.2",
  "xxhash>=1.4.4,<3.1.0"
]
description = 'Python library for generating high-performance implementations of stencil kernels for weather and climate modeling from a domain-specific language (DSL)'
dynamic = ['version']
keywords = [
  'gridtools',
  'stencil',
  'weather',
  'climate',
  'performance',
  'portable',
  'hpc'
]
license = {text = 'GPL-3.0-or-later'}
name = 'gt4py'
readme = 'README.md'
requires-python = '>=3.8'

[project.optional-dependencies]
cuda = ["cupy"]
cuda110 = ["cupy-cuda110"]
cuda111 = ["cupy-cuda111"]
cuda112 = ["cupy-cuda112"]
cuda113 = ["cupy-cuda113"]
cuda114 = ["cupy-cuda114"]
cuda115 = ["cupy-cuda115"]
cuda116 = ["cupy-cuda116"]
cuda117 = ["cupy-cuda117"]
cuda11x = ["cupy-cuda11x"]
dace = ["dace>=0.14.2,<0.15", "sympy>=1.7"]
formatting = ["clang-format>=9.0"]
full = [
  "clang-format>=9.0",
  "dace>=0.14.2,<0.15",
  "hypothesis>=6.0.0",
  "pytest>=7.0",
  "sympy>=1.7",
  "scipy>=1.7.2"
]
performance = ["scipy>=1.4"]
testing = ["hypothesis>=4.14", "pytest>=6.1"]

[project.scripts]
gtpyc = "gt4py.cartesian.cli:gtpyc"

[project.urls]
Documentation = "https://gridtools.github.io/gt4py"
Homepage = "https://gridtools.github.io/"
Source = "https://github.com/GridTools/gt4py"

# ---- Other tools ----
# -- black --
[tool.black]
exclude = '''
/(
    \.git
  | \.gt_cache
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''
include = '\.pyi?$'
line-length = 100
target-version = ['py310']

# -- coverage --
[tool.coverage]

[tool.coverage.html]
directory = 'tests/_reports/coverage_html'

[tool.coverage.paths]
source = ['src/', '.tox/py*/lib/python3.*/site-packages/']

[tool.coverage.report]
# Regexes for lines to exclude from consideration
exclude_lines = [
  'raise AssertionError',  # Don't complain if tests don't hit defensive assertion code
  'raise NotImplementedError',  # Don't complain if tests don't hit defensive assertion code
  'if 0:',  # Don't complain if non-runnable code isn't run
  'if __name__ == .__main__.:'  # Don't complain if non-runnable code isn't run
]
ignore_errors = true

[tool.coverage.run]
branch = true
source_pkgs = ['gt4py']

# -- flake8  --
# flake8-pyproject plugin is used to load configuration settings
# from this file, since flake8 doesn't support it natively.
[tool.flake8]
count = true
doctests = true
exclude = [
  '.eggs',
  '.gt_cache',
  '.ipynb_checkpoints',
  '.tox',
  '_local/',
  'build',
  'dist',
  'docs',
  'tests/_disabled',
  'setup.py'
]
ignore = [
  'B008',  # Do not perform function calls in argument defaults
  'B028',  # Consider replacing f"'{foo}'" with f"{foo!r}"  # TODO: review this ignore
  'D1',  # Public code object needs docstring
  'DAR',  # Disable dargling errors by default
  'E203',  # Whitespace before ':' (black formatter breaks this sometimes)
  'E501',  # Line too long (using Bugbear's B950 warning)
  'W503'  # Line break occurred before a binary operator
]
max-complexity = 15
max-line-length = 100
per-file-ignores = ['src/gt4py/eve/extended_typing.py:F401,F405']
rst-roles = [
  'py:mod, mod',
  'py:func, func',
  'py:data, data',
  'py:const, const',
  'py:class, class',
  'py:meth, meth',
  'py:attr, attr',
  'py:exc, exc',
  'py:obj, obj'
]

# -- isort --
[tool.isort]
combine_as_imports = true
group_by_package = true
known_first_party = ['gt4py', '__externals__', '__gtscript__']
known_tests = ['cartesian_tests', 'eve_tests', 'next_tests', 'storage_tests']
known_third_party = [
  'attr',
  'black',
  'boltons',
  'cached_property',
  'click',
  'dace',
  'devtools',
  'factory',
  'hypothesis',
  'importlib_resources',
  'jinja2',
  'mako',
  'networkx',
  'numpy',
  'packaging',
  'pybind11',
  'pytest',
  'pytest_factoryboy',
  'setuptools',
  'tabulate',
  'typing_extensions',
  'xxhash'
]
lexicographical = true
line_length = 100
lines_after_imports = 2
profile = 'black'
sections = ['FUTURE', 'STDLIB', 'THIRDPARTY', 'FIRSTPARTY', 'TESTS', 'LOCALFOLDER']
skip_gitignore = true
skip_glob = ['*.venv/**', '_local/**']

# -- mypy  --
[tool.mypy]
disallow_incomplete_defs = true
exclude = ['^setup\.py$', '^build/.*py$', '^ci/*.py$', '^tests/*.py$']
ignore_missing_imports = true
install_types = true
namespace_packages = false
no_implicit_optional = true
no_implicit_reexport = true
# pretty = true
show_column_numbers = true
show_error_codes = true
warn_redundant_casts = true
warn_unused_configs = true
warn_unused_ignores = true

# GT4Py configs
[[tool.mypy.overrides]]
ignore_missing_imports = false
module = 'gt4py.*'

[[tool.mypy.overrides]]
# The following ignore_errors are only temporary.
# TODO: Fix errors and enable these settings.
disallow_incomplete_defs = false
disallow_untyped_defs = false
follow_imports = 'silent'
module = 'gt4py.cartesian.*'
warn_unused_ignores = false

[[tool.mypy.overrides]]
ignore_errors = true
module = 'gt4py.cartesian.backend.pyext_builder'

[[tool.mypy.overrides]]
ignore_errors = true
module = 'gt4py.cartesian.frontend.nodes'

[[tool.mypy.overrides]]
ignore_errors = true
module = 'gt4py.cartesian.frontend.node_util'

[[tool.mypy.overrides]]
ignore_errors = true
module = 'gt4py.cartesian.frontend.gtscript_frontend'

[[tool.mypy.overrides]]
ignore_errors = true
module = 'gt4py.cartesian.frontend.defir_to_gtir'

[[tool.mypy.overrides]]
ignore_errors = true
module = 'gt4py.cartesian.frontend.meta'

[[tool.mypy.overrides]]
disallow_untyped_defs = true
module = 'gt4py.eve.*'

[[tool.mypy.overrides]]
module = 'gt4py.eve.extended_typing'
warn_unused_ignores = false

[[tool.mypy.overrides]]
# TODO: Make this false and fix errors
allow_untyped_defs = true
follow_imports = 'silent'
module = 'gt4py.storage.*'
warn_unused_ignores = false

[[tool.mypy.overrides]]
# # TODO: this should be changed to true after a transition period
disallow_incomplete_defs = false
module = 'gt4py.next.*'

[[tool.mypy.overrides]]
ignore_errors = true
module = 'gt4py.next.ffront.decorator'

[[tool.mypy.overrides]]
ignore_errors = true
module = 'gt4py.next.type_system.type_translation'

[[tool.mypy.overrides]]
ignore_errors = true
module = 'gt4py.next.iterator.runtime'

[[tool.mypy.overrides]]
ignore_errors = true
module = 'gt4py.next.iterator.transforms.global_tmps'

# -- pytest --
[tool.pytest]

[tool.pytest.ini_options]
markers = [
  'requires_atlas',  # mark tests that require 'atlas4py' bindings package
  'requires_dace',  # mark tests that require 'dace' package
  'requires_gpu:'  # mark tests that require a NVidia GPU (assume 'cupy' and 'cudatoolkit' are installed)
]
norecursedirs = ['dist', 'build', 'cpp_backend_tests/build*', '_local/*', '.*']
testpaths = 'tests'

# -- Setuptools-specific --
[tool.setuptools]
platforms = ['Linux', 'Mac']

[tool.setuptools.dynamic]
version = {attr = 'gt4py.__about__.__version__'}

[tool.setuptools.package-data]
'*' = ['*.in', '*.txt']
'gt4py' = ['py.typed', '*.md', '*.rst']

[tool.setuptools.packages]
find = {namespaces = false, where = ['src']}
