attrs~=20.3
black>=19.3b0
cached-property~=1.5
click~=7.1
jinja2~=2.10
numpy~=1.15
packaging>=20.0
pybind11~=2.5
tabulate~=0.8
typing-extensions~=3.7
boltons>=20.0
cytoolz>=0.11
devtools>=0.5
mako>=1.1
networkx>=2.4
pydantic>=1.5, <1.8
toolz>=0.11
typing_inspect>=0.6.0
xxhash>=1.4.4
clang-format>=9.0
