# 
# Constraints should specify the minimum required version (>=).
# 
# Packages also required in the extra `gt4py['all-cpu']` configuration
# should be added here without constraints, so they will use the
# constraints defined in `pyproject.toml`.
#
bump-my-version>=0.12.0
clang-format>=9.0
cogapp>=3.3
coverage[toml]>=5.0
darglint>=1.6
hypothesis   # constraints in gt4py['testing']
jupytext>=1.14
mypy>=1.0
matplotlib>=3.3
nbmake>=1.4.6
pipdeptree>=2.3
pip-tools>=6.10
pre-commit>=2.17
psutil>=5.0
pygments>=2.7.3
pytest   # constraints in gt4py['testing']
pytest-cache>=1.0
pytest-cov>=2.8
pytest-custom-exit-code>=0.3.0 
pytest-factoryboy>=2.0.3
pytest-xdist[psutil]>=2.4
pytest-instafail>=0.5.0
ruff>=0.2.0
sphinx>=4.4
sphinx_rtd_theme>=1.0
tomli>=2.0.1;python_version<'3.11'
tox>=3.2.0
types-tabulate>=0.8.10
