check-manifest>=0.40
coverage>=5.0
darglint>=1.6
factory-boy>=3.1 
flake8>=3.8
flake8-bugbear>=20.11.1
flake8-builtins>=1.5.3
flake8-debugger>=4.0.0
flake8-docstrings>=1.5.0
flake8-eradicate>=1.0.0
flake8-mutable>=1.2.0
flake8-rst-docstrings>=0.0.14
flakehell>=0.9
hypothesis>=4.14
isort~=5.1
mypy>=0.800
pre-commit~=1.18
psutil>=5.0
pygments>=2.7
pytest~=6.1
pytest-cache>=1.0
pytest-cov>=2.8
pytest-factoryboy>=2.0
pytest-xdist[psutil]>=2.2
setuptools>=40.8.0
seed-isort-config~=2.1
sphinx~=3.1
sphinx_rtd_theme~=0.4
tox~=3.14
devtools~=0.6
