name: Tox (CPU only)

on:
  schedule:
  - cron: '30 5 * * *'
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10"]
        backends: [internal-cpu, all-cpu]
        exclude:
        - python-version: "3.9"
          backends: internal-cpu


    steps:
    - uses: actions/checkout@v2
    - name: Install boost
      run: |
        wget https://boostorg.jfrog.io/artifactory/main/release/1.76.0/source/boost_1_76_0.tar.gz
        echo 7bd7ddceec1a1dfdcbdb3e609b60d01739c38390a5f956385a12f3122049f0ca boost_1_76_0.tar.gz > boost_hash.txt
        sha256sum -c boost_hash.txt
        tar xzf boost_1_76_0.tar.gz
        mkdir -p boost/include
        mv boost_1_76_0/boost boost/include/
        echo "BOOST_ROOT=${PWD}/boost" >> $GITHUB_ENV
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install python dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
    - name: Test with tox
      run: |
        pyversion_no_dot=${{ matrix.python-version }}
        pyversion_no_dot=${pyversion_no_dot//./}
        pip install tox
        tox -r -e py${pyversion_no_dot}-${{ matrix.backends }}
