name: "Test Jupyter Notebooks"

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  test-notebooks:
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
        os: ["ubuntu-latest"]
      fail-fast: false

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: |
          **/pyproject.toml
          **/constraints.txt
          **/requirements-dev.txt
    - name: Install python dependencies
      run: |
        python -m pip install -c ./constraints.txt pip setuptools wheel
        python -m pip install -r ./requirements-dev.txt
    - name: Run tox tests
      env:
        NUM_PROCESSES: auto
      shell: bash
      run: |
        pyversion=${{ matrix.python-version }}
        pyversion_no_dot=${pyversion//./}
        tox run -e notebooks-py${pyversion_no_dot}
