name: "Fallback: Test Eve"

on:
  pull_request:
    branches:
    - main
    - gtir  # TODO(tehrengruber): remove after GTIR refactoring #1582
    paths-ignore:  # Inverse of corresponding workflow
    - "src/gt4py/eve/**"
    - "tests/eve_tests/**"
    - "workflows/**"
    - "*.cfg"
    - "*.ini"
    - "*.toml"
    - "*.yml"

jobs:
  test-eve:
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        os: ["ubuntu-latest"]

    runs-on: ${{ matrix.os }}
    steps:
    - run: 'echo "No build required"'
