name: "Fallback: Test Next (CPU)"

on:
  pull_request:
    branches:
    - main
    paths:  # Inverse of corresponding workflow
    - "src/gt4py/cartesian/**"
    - "tests/cartesian_tests/**"
    - "examples/**"
    - "*.md"
    - "*.rst"

jobs:
  test-next:
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
        tox-factor: ["nomesh", "atlas"]
        os: ["ubuntu-latest"]

    runs-on: ${{ matrix.os }}
    steps:
    - run: 'echo "No build required"'
