name: "Fallback: Test Storage (CPU)"

on:
  pull_request:
    branches:
    - main
    paths-ignore:  # Inverse of corresponding workflow
    - "src/gt4py/storage/**"
    - "src/gt4py/cartesian/backend/**"   # For DaCe storages
    - "tests/storage_tests/**"
    - "workflows/**"
    - "*.cfg"
    - "*.ini"
    - "*.toml"
    - "*.yml"

jobs:
  test-storage:
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
        tox-factor: [internal, dace]
        os: ["ubuntu-latest"]

    runs-on: ${{ matrix.os }}
    steps:
    - run: 'echo "No build required"'
