name: "Test Cartesian (CPU)"

on:
  push:
    branches:
    - main
    - gtir  # TODO(tehrengruber): remove after GTIR refactoring #1582
  pull_request:
    branches:
    - main
    - gtir  # TODO(tehrengruber): remove after GTIR refactoring #1582
    paths-ignore:  # Skip if only gt4py.next and irrelevant doc files have been updated
    - "src/gt4py/next/**"
    - "tests/next_tests/**"
    - "examples/**"
    - "*.md"
    - "*.rst"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-cartesian:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        tox-factor: [internal, dace]
    steps:
    - uses: actions/checkout@v4
    - name: Install boost
      shell: bash
      run: |
        wget https://boostorg.jfrog.io/artifactory/main/release/1.76.0/source/boost_1_76_0.tar.gz
        echo 7bd7ddceec1a1dfdcbdb3e609b60d01739c38390a5f956385a12f3122049f0ca boost_1_76_0.tar.gz > boost_hash.txt
        sha256sum -c boost_hash.txt
        tar xzf boost_1_76_0.tar.gz
        mkdir -p boost/include
        mv boost_1_76_0/boost boost/include/
        echo "BOOST_ROOT=${PWD}/boost" >> $GITHUB_ENV
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: |
          **/pyproject.toml
          **/constraints.txt
          **/requirements-dev.txt
    - name: Install python dependencies
      run: |
        python -m pip install -c ./constraints.txt pip setuptools wheel
        python -m pip install -r ./requirements-dev.txt
    - name: Test with tox
      env:
        NUM_PROCESSES: auto
      shell: bash
      run: |
        pyversion=${{ matrix.python-version }}
        pyversion_no_dot=${pyversion//./}
        tox run -e cartesian-py${pyversion_no_dot}-${{ matrix.tox-factor }}-cpu
